.section{
    position: relative;
    overflow: hidden;
}
.circle1 {
    position: fixed;
    z-index: 100;
    width: 250rem;
    height: 200rem;
    border-radius: 50%;
    background-color: var(--color-cafe);
    top: -50%;
    left: 100%;
    transition: 1.8s ;
}

.circle1.active {
    left: -250rem;
}
.section header {
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr auto;
    height: 100dvh;
    padding: 4rem 4rem 4rem 1rem;
}

.aside {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.verticalText {
    font-family: 'Anton', sans-serif;
    writing-mode: vertical-lr;
    font-size: 13rem;
    letter-spacing: 1rem;
    font-weight: 900;
}

.social {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.social li {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background-color: var(--color-main-light);
    color: var(--color-cafe);
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome button {
    min-width: 18rem;
    font-size: 2.4rem;
    font-weight: 500;
    background-color: var(--color-main-light);
    color: var(--color-cafe);
    padding: 0.8rem 3rem;
    transition: 0.4s;
    border-radius: 6rem 0px 6rem 0px;
    margin-left: 1rem;
}

.welcome button:nth-of-type(2){
    border-radius: 0 6rem 0px 6rem;
    margin-left: 0;
    margin-right: 1rem;

}

.welcome button:hover {
    box-shadow: inset 6.5em 0 0 0 var(--color-cafe);
    background-color: var(--color-cafe);
    color: var(--color-light-1);
}


.title {
    font-size: 5rem;
    font-weight: 600;
    margin-bottom: 2rem;
    max-width: 70rem;
}

.title>p:nth-of-type(1) {
    line-height: 7rem;
}

.title>p:nth-of-type(2) {
    max-width: 45rem;
}

.qrCode {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
}

.qrCode>div:nth-of-type(1) {
    background-color: var(--color-light-1);
    width: 10rem;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.3rem;
    overflow: hidden;
}

.qrCode>div:nth-of-type(1) img {
    width: 100%;
}

.qrCode p {
    max-width: 40rem;
    font-size: 1.4rem;
}

.bgImage {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.05);
    width: 100%;
    height: 100%;
    filter: brightness(70%);
}

.bgImage img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}


@media (max-width:45rem) {

    .circle1 {
        transition: 1.4s;
    }
    .title {
        font-size: 4rem;
        max-width: none;
    }

    .title>p:nth-of-type(1) {
        line-height: 6rem;
    }

    .section header {
        grid-template-columns: 1fr;
    }

    .welcome {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .section header {
        padding: 4rem 2rem;
    }

    .title>p:nth-of-type(2) {
        max-width: none;
    }

    .aside {
        display: none
    }

    .qrCode {
        justify-content: center;
        text-align: right;
    }


    .bgImage {
        filter: blur(3px) brightness(70%);
    }
}